@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  /* === CRM THEME CONSTANTS === */

  /* Backgrounds */
  --crm-bg-app: #121216;
  /* Fond principal très sombre */
  --crm-bg-sidebar: #15151A;
  /* Fond sidebar */
  --crm-bg-card: #1C1C24;
  /* Fond carte */

  /* Gradients */
  --grad-purple: linear-gradient(135deg, #CF57D3 0%, #9048F7 100%);
  --grad-cyan: linear-gradient(135deg, #22D3EE 0%, #3B82F6 100%);

  /* Text */
  --text-main: #FFFFFF;
  --text-muted: #6B7280;
}

/* === RESET & BASE === */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--crm-bg-app);
  color: var(--text-main);
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* App style */
}

/* Scrollbar Custom */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

/* Scrollbar invisible */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}